.typeStyle .normal {
    color: var(--color-normal);

}

.typeStyle .fire {
    color: var(--color-fire);

}

.typeStyle .water {
    color: var(--color-water);

}

.typeStyle .grass {
    color: var(--color-grass);

}

.typeStyle .electric {
    color: var(--color-electric);

}

.typeStyle .ice {
    color: var(--color-ice);

}

.typeStyle .fighting {
    color: var(--color-fighting);

}

.typeStyle .poison {
    color: var(--color-poison);

}

.typeStyle .ground {
    color: var(--color-ground);

}

.typeStyle .flying {
    color: var(--color-flying);

}

.typeStyle .psychic {
    color: var(--color-psychic);

}

.typeStyle .bug {
    color: var(--color-bug);

}

.typeStyle .rock {
    color: var(--color-rock);

}

.typeStyle .ghost {
    color: var(--color-ghost);

}

.typeStyle .dark {
    color: var(--color-dark);

}

.typeStyle .dragon {
    color: var(--color-dragon);


}

.typeStyle>.steel {
    color: var(--color-steel);

}

.typeStyle>.fairy {
    color: var(--color-fairy);
}



.background {
    display: flex;
    position: fixed;
    top: -110px;
    left: -300px;
    width: 150px;
    height: 100%;
    padding-top: 120px;
    transition: all .3s linear;
    color: #828FA2;
    flex-direction: column;
    overflow: auto;

}




.background.active {
    left: 0;
}

.pokemon {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 7.5px;



}



.typeStyle {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;

}


.typeStyle>label {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}